@model CSR.Models.LoginViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IStringLocalizer<CSR.SharedStrings> SharedLocalizer

@{
    Layout = null;
    // 다국어 선택을 위한 준비
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
    ViewData["Title"] = SharedLocalizer["Button_Login"];
}

<!DOCTYPE html>
<html lang="@requestCulture.RequestCulture.UICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
        }

        .login-form {
            width: 100%;
            max-width: 400px;
            padding: 15px;
            margin: auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }
        .lang-selector {
            max-width: 150px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <form id="setLanguageForm" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" class="lang-selector">
            <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"
                    onchange="this.form.submit();" class="form-select form-select-sm">
            </select>
        </form>

        <!-- <h1 class="text-center mb-4">@SharedLocalizer["Button_Login"]</h1> -->
        <img src="~/image/mobasesystem3.jpg" alt="Home" class="d-block mx-auto" style="width:250px; height:auto;"/>
        <form asp-action="Login">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="UserId" class="form-control" placeholder="@SharedLocalizer["Label_UserId"]" />
                <label asp-for="UserId">@SharedLocalizer["Label_UserId"]</label>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" placeholder="@SharedLocalizer["Label_Password"]" />
                <label asp-for="Password">@SharedLocalizer["Label_Password"]</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" id="flexCheckDefault" asp-for="RememberMe">
                <label class="form-check-label" for="flexCheckDefault">
                    @SharedLocalizer["Label_RememberMe"]
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">@SharedLocalizer["Button_Login"]</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2025</p>
        </form>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
