@model ReqInfo
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<CSR.SharedStrings> SharedLocalizer

@{
    ViewData["Title"] = "요구사항 등록";
}

<partial name="_PageTitlePartial" />

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CORCD" />
            <input type="hidden" asp-for="DEPTCD" />
            <input type="hidden" asp-for="OFFICECD" />
            <input type="hidden" asp-for="TEAMCD" />
            <input type="hidden" asp-for="REG_USERID" />
            <input type="hidden" asp-for="REQUSERID" />
            
            <table class="table-layout" width="100%">
                <colgroup>
                    <col width="8%">
                    <col width="15%">
                    <col width="8%">
                    <col width="15%">
                    <col width="8%">
                    <col width="15%">
                    <col width="8%">
                    <col width="15%">
                </colgroup>
                <tbody>
                    <tr>
                        <td>요청자</td>
                        <td>
                            <input asp-for="ReqUserName" class="form-control" readonly />
                            <span asp-validation-for="ReqUserName" class="text-danger"></span>
                        </td>
                        <td>조직</td>
                        <td>
                            @{
                                var orgParts = new[] { Model.CorpName, Model.DeptName, Model.OfficeName, Model.TeamName };
                                var organization = string.Join(" / ", orgParts.Where(p => !string.IsNullOrEmpty(p)));
                            }
                            <input type="text" class="form-control" value="@organization" readonly />
                        </td>

                        <td>이메일</td>
                        <td>
                            <input asp-for="ReqUserEmail" class="form-control" readonly />
                            <span asp-validation-for="ReqUserEmail" class="text-danger"></span>
                        </td>
                        <td>연락처</td>
                        <td>
                            <input asp-for="ReqUserTel" class="form-control" readonly />
                            <span asp-validation-for="ReqUserTel" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="REQTYPE" class="control-label"></label></td>
                        <td>
                            <select asp-for="REQTYPE" asp-items="ViewBag.ReqTypes" class="form-select">
                            <option>요청유형 선택</option>
                            </select>
                            <span asp-validation-for="REQTYPE" class="text-danger"></span>
                        </td>
                        <td><label asp-for="SYSTEMCD" class="control-label"></label></td>
                        <td>
                            <select asp-for="SYSTEMCD" asp-items="ViewBag.SystemCodes" class="form-select">
                            <option>대상시스템 선택</option>
                            </select>
                            <span asp-validation-for="SYSTEMCD" class="text-danger"></span>
                        </td>
                        <td>요청메뉴</td>
                        <td>
                            <select asp-for="REQMENU" id="ReqMenu" class="form-select"></select>
                        </td>
                        <td>조치자</td>
                        <td>
                            <select asp-for="RESUSERID" class="form-select"></select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><label asp-for="REQDATE" class="control-label"></label></td>
                        <td>
                            <input asp-for="REQDATE" type="date" class="form-control" />
                            <span asp-validation-for="REQDATE" class="text-danger"></span>
                        </td>
                        <td><label asp-for="DUEDATE" class="control-label"></label></td>
                        <td>
                            <input asp-for="DUEDATE" type="date" class="form-control" />
                            <span asp-validation-for="DUEDATE" class="text-danger"></span>
                        </td>
                        <td><label asp-for="PRIORITYCD" class="control-label"></label></td>
                        <td>
                            <select asp-for="PRIORITYCD" asp-items="ViewBag.PriorityCodes" class="form-select">
                            <option>긴급도 선택</option>
                            </select>
                            <span asp-validation-for="PRIORITYCD" class="text-danger"></span>
                        </td>  
                        <td><label asp-for="REQTCODE" class="control-label"></label></td>
                        <td>
                            <input asp-for="REQTCODE" type="text" class="form-control" />
                            <span asp-validation-for="REQTCODE" class="text-danger"></span>
                        </td> 
                    </tr>

                    <tr>
                        <td><label asp-for="TITLE" class="control-label"></label></td>
                        <td colspan="7">
                            <input asp-for="TITLE" class="form-control" />
                            <span asp-validation-for="TITLE" class="text-danger"></span>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;"><label asp-for="CONTENTS_HTML" class="control-label"></label></td>
                        <td colspan="7">
                            <div class="html-editor"></div>
                            <input type="hidden" asp-for="CONTENTS_HTML" />
                            <span asp-validation-for="CONTENTS_HTML" class="text-danger"></span>
                        </td>
                    </tr>                    
                    <tr>
                        <td><label class="control-label">@SharedLocalizer["Label_Attachments"]</label></td>
                        <td colspan="7">
                            <div>
                                <div id="file-uploader"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="button-area text-end mt-5 m-3">
                <input type="submit" value="@SharedLocalizer["Button_Save"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-list">@SharedLocalizer["Button_List"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <style>
        #file-uploader .dx-fileuploader-input-wrapper {
            min-height: 150px;
            border: 2px dashed #ccc;
            padding: 20px;
            background-color: #f8f9fa;
        }
    </style>
    <script>
        $(function() {
            initializeHtmlEditor(
                '.html-editor',
                'input[name="@Html.NameFor(m => m.CONTENTS_HTML)"]',
                null 
            );
            
            $("#file-uploader").dxFileUploader({ 
                name: 'files',
                multiple: true,
                uploadMode: 'useForm',
                allowCanceling: true,
                maxFileSize: 4000000, // 4mb
            });

            $('#SYSTEMCD').on('change', function() {
                var systemCodeId = $(this).val();

                console.log(systemCodeId);

                var reqMenuDropdown = $('#ReqMenu');

                reqMenuDropdown.empty();
                reqMenuDropdown.append($('<option></option>').val('').text('메뉴 선택'));

                if (systemCodeId) {
                    $.ajax({
                        url: '@Url.Action("GetMenusBySystemCode", "CommCode")',
                        type: 'GET',
                        data: { systemCodeId: systemCodeId },
                        success: function(data) {
                            $.each(data, function(i, item) {
                                reqMenuDropdown.append($('<option></option>').val(item.value).text(item.text));
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error("An error occurred while fetching menus: " + error);
                        }
                    });
                }
            });

            $('#ReqMenu').on('change', function() {
                var menuId = $(this).val();
                console.log(menuId);
                var adminDropdown = $('#RESUSERID');

                adminDropdown.empty();
                adminDropdown.append($('<option></option>').val('').text('조치자 선택'));

                if (menuId) {
                    $.ajax({
                        url: '@Url.Action("GetAdminRel", "Req")',
                        type: 'GET',
                        data: { menuId: menuId },
                        success: function(data) {
                            $.each(data, function(i, item) {
                                adminDropdown.append($('<option></option>').val(item.value).text(item.text));
                            });
                        },
                        error: function(xhr, status, error) {
                            console.error("An error occurred while fetching menus: " + error);
                        }
                    });
                }
            });


        });
    </script>
}
