@model CSR.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<CSR.SharedStrings> SharedLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<partial name="_PageTitlePartial" />

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="RegDate" />
            <input type="hidden" asp-for="RegUserId" />

            <table class="table-layout">
                <tr>
                    <td><label asp-for="UserId" class="control-label">@SharedLocalizer["Label_UserId"] *</label></td>
                    <td>
                        <input asp-for="UserId" class="form-control" readonly />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </td>                    
                </tr>
                <tr>
                    <td><label asp-for="UserPwd" class="control-label">@SharedLocalizer["Label_Password"] *</label></td>
                    <td>
                        <input asp-for="UserPwd" class="form-control" type="password" placeholder="@Localizer["Placeholder_Password"]" />
                        <span asp-validation-for="UserPwd" class="text-danger"></span>
                    </td>
                    <td></td><td></td><td></td><td></td>
                </tr>

                <tr>
                    <td><label asp-for="UserName" class="control-label">@SharedLocalizer["Label_UserName"] *</label></td>
                    <td>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </td>
                    <td><label asp-for="EmpNo" class="control-label">@SharedLocalizer["Label_EmployeeNo"] </label></td>
                    <td>
                        <input asp-for="EmpNo" class="form-control" oninput="this.value = NumberOnly(this.value)" maxlength=9  />
                        <span asp-validation-for="EmpNo" class="text-danger"></span>
                    </td>
                </tr>                
                <partial name="_OrganizationFieldsPartial" />
                <tr>
                    <td><label asp-for="SysCd" class="control-label">@SharedLocalizer["Label_SystemCode"]</label></td>
                    <td>
                        <input asp-for="SysCd" class="form-control" />
                        <span asp-validation-for="SysCd" class="text-danger"></span>
                    </td>
                    <td><label asp-for="BizCd" class="control-label">@SharedLocalizer["Label_BusinessPlaceCode"]</label></td>
                    <td>
                        <input asp-for="BizCd" class="form-control" />
                        <span asp-validation-for="BizCd" class="text-danger"></span>
                    </td>
                    <td><label asp-for="CustCd" class="control-label">@SharedLocalizer["Label_CustomerCode"]</label></td>
                    <td>
                        <input asp-for="CustCd" class="form-control" />
                        <span asp-validation-for="CustCd" class="text-danger"></span>
                    </td>
                    <td><label asp-for="VendCd" class="control-label">@SharedLocalizer["Label_VendorCode"]</label></td>
                    <td>
                        <input asp-for="VendCd" class="form-control" />
                        <span asp-validation-for="VendCd" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="TelNo" class="control-label">@SharedLocalizer["Label_PhoneNumber"]</label></td>
                    <td>
                        <input asp-for="TelNo" class="form-control" oninput="this.value=formatPhoneNumber(this.value)" maxlength="13" />
                        <!-- <span asp-validation-for="TelNo" class="text-danger"></span> -->
                    </td>
                    <td><label asp-for="MobPhoneNo" class="control-label">@SharedLocalizer["Label_MobilePhoneNumber"]</label></td>
                    <td>
                        <input asp-for="MobPhoneNo" class="form-control" oninput="this.value=formatPhoneNumber(this.value)" maxlength="13" />
                        <!-- <span asp-validation-for="MobPhoneNo" class="text-danger"></span> -->
                    </td>
                    <td><label asp-for="EmailAddr" class="control-label">@SharedLocalizer["Label_EmailAddress"]</label></td>
                    <td>
                        <input asp-for="EmailAddr" class="form-control" type="email" />
                        <span asp-validation-for="EmailAddr" class="text-danger"></span>
                    </td>
                    <td><label asp-for="RetireDate" class="control-label">@SharedLocalizer["Label_RetirementDate"]</label></td>
                    <td>
                        <div id="RetireDate"></div>
                        <!-- <span asp-validation-for="RetireDate" class="text-danger"></span> -->
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="UserDiv" class="control-label">@SharedLocalizer["Label_UserDivision"]</label></td>
                    <td>
                        <input asp-for="UserDiv" class="form-control" />
                        <span asp-validation-for="UserDiv" class="text-danger"></span>
                    </td>
                    <td><label asp-for="UserStat" class="control-label">@SharedLocalizer["Label_UserStat"]</label></td>
                    <td>
                        <input asp-for="UserStat" class="form-control" />
                        <span asp-validation-for="UserStat" class="text-danger"></span>
                    </td>
                    <td><label asp-for="UseYn" class="control-label">@SharedLocalizer["Label_InUse"]</label></td>
                    <td>
                        <input asp-for="UseYn" class="form-control" />
                        <span asp-validation-for="UseYn" class="text-danger"></span>
                    </td>
                    <td><label asp-for="PwMissCount" class="control-label">@SharedLocalizer["Label_PasswordFailCount"]</label></td>
                    <td>
                        <input asp-for="PwMissCount" class="form-control" type="number" />
                        <span asp-validation-for="PwMissCount" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="AdminFlag" class="control-label">@SharedLocalizer["Label_AdminPrivileges"]</label></td>
                    <td>
                        <div class="form-check">
                            <input asp-for="AdminFlag" class="form-check-input" type="checkbox" />
                        </div>
                        <span asp-validation-for="AdminFlag" class="text-danger"></span>
                    </td>
                    <!-- <td><label asp-for="AuthFlag" class="control-label">@SharedLocalizer["Label_Authorization"]</label></td>
                    <td>
                        <div class="form-check">
                            <input asp-for="AuthFlag" class="form-check-input" type="checkbox" value="1" />
                        </div>
                        <span asp-validation-for="AuthFlag" class="text-danger"></span>
                    </td> -->
                    <td></td><td></td><td></td><td></td>
                </tr>                
            </table>

            <div class="button-area text-end mt-5 m-3">
                <input type="submit" value="@SharedLocalizer["Button_Save"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn btn-list">@SharedLocalizer["Button_BackToList"]</a>
            </div>
        </form>
    </div>
</div>


<script>

    const labelMode = 'static';

    const today = Date.now();

    const birthDate = $('#RetireDate').dxDateBox({
        placeholder: 'Select...',
        inputAttr: { 'aria-label': 'Retire Date' },
        labelMode,
    }).dxDateBox('instance');

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_OrganizationFieldsPartial.Scripts" />
}
