@model CSR.Models.UserIndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<CSR.SharedStrings> SharedLocalizer

@{
    ViewData["Title"] = Localizer["UserManagement"];
}

<partial name="_PageTitlePartial" />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div class="search-area card">
    <div class="search-body">
        <form asp-action="Index" method="get">
            <table class="table table-bordered">
                <tbody>
                    <colgroup>
                        <col width="8%"></col>
                        <col width="15%"></col>
                        <col width="8%"></col>
                        <col width="15%"></col>
                        <col width="8%"></col>
                        <col width="15%"></col>
                        <col width="8%"></col>
                        <col width="15%"></col>
                    </colgroup>                    

                    <!-- 조직도 tr -->
                    <partial name="_OrganizationSearchFieldsPartial" model="Model.Search" />
                    <!-- 조직도 tr -->
                    <tr>
                        <th class="align-middle text-center">@SharedLocalizer["Label_UserId"]</th>
                        <td><input asp-for="Search.UserId" class="form-control" /></td>
                        <th class="align-middle text-center">@SharedLocalizer["Label_UserName"]</th>
                        <td><input asp-for="Search.UserName" class="form-control" /></td>
                        <td colspan="4" class="text-end">
                            <button type="submit" class="btn btn-light search-btn">@Localizer["Search"]</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table> 
            
        </form>
    </div>
</div>


<div class="d-flex justify-content-between mb-3 align-items-center">
    <div>
        @if (Model.Users.TotalCount > 0)
        {
            <p class="text-muted mb-0">@Localizer["TotalUsers", Model.Users.TotalCount]</p>
        }
    </div>
    <div>
        <a asp-action="Create" class="btn btn-add">@Localizer["AddUser"]</a>
    </div>
</div>


@if (Model.Users.Items != null && Model.Users.Items.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <colgroup>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="15%"/>
                    <col width="8%"/>                    
                    <col width="8%"/>
                    <col width="8%"/>
                    <col width="8%"/>
                </colgroup>
                <tr>
                    <th>@SharedLocalizer["TableHeader_UserId"]</th>
                    <th>@SharedLocalizer["TableHeader_UserName"]</th>
                    <th>@SharedLocalizer["TableHeader_DepartmentCode"]</th>
                    <th>@SharedLocalizer["TableHeader_TeamCode"]</th>
                    <th>@SharedLocalizer["TableHeader_Email"]</th>
                    <th>@SharedLocalizer["TableHeader_InUse"]</th>
                    <th>@SharedLocalizer["TableHeader_AdminPrivileges"]</th>
                    <th>@SharedLocalizer["TableHeader_RegistrationDate"]</th>
                    <th>@Localizer["Operation"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users.Items)
                {
                    @await Html.PartialAsync("_UserRow", user)
                }
            </tbody>
        </table>
    </div>

    <partial name="_PagingPartial" model="Model.Users" />
}
else
{
    <p class="text-muted">@Localizer["NoUsersToDisplay"]</p>
}

@section Scripts {    
    <partial name="_OrganizationFieldsPartial.Scripts" />

    <script>

        const urlParams = new URLSearchParams(window.location.search);
        const paramsCorcd = urlParams.get("CorCd");
        const paramsDeptCd = urlParams.get("DeptCd");
        const paramsOfficeCd = urlParams.get("OfficeCd");
        const paramsTeamCd = urlParams.get("TeamCd");

        console.log(paramsCorcd);
        console.log(paramsDeptCd);
        console.log(paramsOfficeCd);
        console.log(paramsTeamCd);

    </script>

}
