@model Notice
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer
@inject IStringLocalizer<CSR.SharedStrings> SharedLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<partial name="_PageTitlePartial" />

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CORCD" />

            <table class="table-layout" width="70%">
                    <colgroup>
                        <col width="10%">
                        <col width="80%">
                    </colgroup>
                <tbody>
                    <tr>
                        <td><label asp-for="TITLE" class="control-label">@SharedLocalizer["Label_Title"]</label></td>
                        <td colspan="3">
                            <input asp-for="TITLE" class="form-control" />
                            <span asp-validation-for="TITLE" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="NOTICETYPE" class="control-label">@SharedLocalizer["Label_Type"]</label></td>
                        <td colspan="3">
                            <select asp-for="NOTICETYPE" asp-items="ViewBag.NoticeTypes" class="form-control">                                
                            </select>
                            <span asp-validation-for="NOTICETYPE" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><label asp-for="CONTENTS_HTML" class="control-label">@SharedLocalizer["Label_Content"]</label></td>
                        <td colspan="3">
                            <div class="html-editor"></div>
                            <input type="hidden" asp-for="CONTENTS_HTML" />
                        </td>
                    </tr>                    
                    <tr>
                        <td><label class="control-label">@SharedLocalizer["Label_Attachments"]</label></td>
                        <td colspan="3">
                            <!-- <input type="file" name="newFiles" multiple class="form-control" /> -->

                            <div>
                                <div id="file-uploader"></div>
                            </div>
                            
                                <span class="note">Maximum file size: <span>4 MB</span>.</span>
                                
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="button-area text-end mt-5 m-3">
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireManagerOrHigher")).Succeeded)
                {
                    <input type="submit" value="@SharedLocalizer["Button_Save"]" class="btn btn-primary" />
                }
                <a asp-action="Index" class="btn btn-list">@SharedLocalizer["Button_List"]</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <style>
        
    </style>
    <script>
        // 페이지 로드가 완료되면 스크립트 실행
        $(function() {
            // 공통 함수를 호출하여 에디터를 초기화합니다.
            initializeHtmlEditor(
                '.html-editor',                                  // 에디터 div
                'input[name="@Html.NameFor(m => m.CONTENTS_HTML)"]', // 값을 저장할 input
                '.value-content'                                 // 미리보기 div
            );
            
            $("#file-uploader").dxFileUploader({ 
                name: 'files', // 컨트롤러 액션의 파라미터 이름과 일치시켜야 합니다.
                multiple: true,
                uploadMode: 'useForm',
                allowCanceling: true,
                accept: 'image/*,.pdf,.xlsx,.xls',
                maxFileSize: 4000000, // 4mb
                // dropZone 속성을 제거하여 파일 업로더 컴포넌트 자체가 드롭존이 되도록 합니다.
            });
            
        });
    </script>
}
